.jajuma-highlight-editor code[class*="language-"], .jajuma-highlight-editor pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
.jajuma-highlight-editor pre[class*="language-"]::-moz-selection, .jajuma-highlight-editor pre[class*="language-"] ::-moz-selection, .jajuma-highlight-editor code[class*="language-"]::-moz-selection, .jajuma-highlight-editor code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}
.jajuma-highlight-editor pre[class*="language-"]::selection, .jajuma-highlight-editor pre[class*="language-"] ::selection, .jajuma-highlight-editor code[class*="language-"]::selection, .jajuma-highlight-editor code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}
@media print {
    .jajuma-highlight-editor code[class*="language-"], .jajuma-highlight-editor pre[class*="language-"] {
        text-shadow: none;
    }
}
.jajuma-highlight-editor pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}
.jajuma-highlight-editor :not(pre) > code[class*="language-"], .jajuma-highlight-editor pre[class*="language-"] {
    background: #f5f2f0;
}
.jajuma-highlight-editor :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}
.jajuma-highlight-editor .token.comment, .jajuma-highlight-editor .token.prolog, .jajuma-highlight-editor .token.doctype, .jajuma-highlight-editor .token.cdata {
    color: slategray;
}
.jajuma-highlight-editor .token.punctuation {
    color: #999;
}
.jajuma-highlight-editor .token.namespace {
    opacity: .7;
}
.jajuma-highlight-editor .token.property, .jajuma-highlight-editor .token.tag, .jajuma-highlight-editor .token.boolean, .jajuma-highlight-editor .token.number, .jajuma-highlight-editor .token.constant, .jajuma-highlight-editor .token.symbol, .jajuma-highlight-editor .token.deleted {
    color: #905;
}
.jajuma-highlight-editor .token.selector, .jajuma-highlight-editor .token.attr-name, .jajuma-highlight-editor .token.string, .jajuma-highlight-editor .token.char, .jajuma-highlight-editor .token.builtin, .jajuma-highlight-editor .token.inserted {
    color: #690;
}
.jajuma-highlight-editor .token.operator, .jajuma-highlight-editor .token.entity, .jajuma-highlight-editor .token.url, .jajuma-highlight-editor .language-css .token.string, .jajuma-highlight-editor .style .token.string {
    color: #9a6e3a;
}
.jajuma-highlight-editor .token.atrule, .jajuma-highlight-editor .token.attr-value, .jajuma-highlight-editor .token.keyword {
    color: #07a;
}
.jajuma-highlight-editor .token.function, .jajuma-highlight-editor .token.class-name {
    color: #DD4A68;
}
.jajuma-highlight-editor .token.regex, .jajuma-highlight-editor .token.important, .jajuma-highlight-editor .token.variable {
    color: #e90;
}
.jajuma-highlight-editor .token.important, .jajuma-highlight-editor .token.bold {
    font-weight: bold;
}
.jajuma-highlight-editor .token.italic {
    font-style: italic;
}
.jajuma-highlight-editor .token.entity {
    cursor: help;
}

/* Line Number */

pre[class*=language-].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 16px;
    font-size: 100%;
    left: -8px;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows>span {
    display: block;
    counter-increment: linenumber
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
}
