/**
 * JaJuMa Hyva Light Theme
 *
 * @author https://www.jajuma.de/de/jajuma-develop
 * @version 1.0
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: #0A144B;
     font-family: Consolas, Monaco, 'Andale Mono', monospace;
     direction: ltr;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     line-height: 1.5;

     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;

     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }

 .jajuma-syntax-highlighter-highlighting {
    background-image: url("../../image/hyvalogomark.svg") !important;
    background-repeat: no-repeat !important;
    background-position: 95% 92% !important;
    background-size: 100px !important;
 }

 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
     color: inherit;
     background: rgba(33, 66, 131, .85);
 }

 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
     color: inherit;
     background: rgba(33, 66, 131, .85);
 }

 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     margin: .5em 0;
     overflow: auto;
 }

 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background-color: #f6f7ff;
 }

 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
 }

 .token.comment,
 .token.prolog,
 .token.cdata {
     color: #808080;
 }

 .token.delimiter,
 .token.boolean,
 .token.keyword,
 .token.selector,
 .token.important,
 .token.atrule {
     color: #179dd8;
 }

 .token.operator,
 .token.punctuation,
 .token.attr-name {
     color: #6627d4;
 }

 .token.tag,
 .token.tag .punctuation,
 .token.doctype,
 .token.builtin {
     color: #0A23B9;
 }

 .token.entity,
 .token.number,
 .token.symbol {
     color: #6897bb;
 }

 .token.property,
 .token.constant,
 .token.variable {
     color: #6627d4;
 }

 .token.string,
 .token.char {
     color: #07bc7e;
 }

 .token.attr-value,
 .token.attr-value .punctuation {
     color: #07bc7e;
 }

 .token.attr-value .punctuation:first-child {
     color: #ff0064;
 }

 .token.url {
     color: #287bde;
     text-decoration: underline;
 }

 .token.function {
     color: #ff0064;
 }

 .token.regex {
     background: #14FFAF;
 }

 .token.bold {
     font-weight: bold;
 }

 .token.italic {
     font-style: italic;
 }

 .token.inserted {
     background: #294436;
 }

 .token.deleted {
     background: #484a4a;
 }

 code.language-css .token.property,
 code.language-css .token.property + .token.punctuation {
     color: #cbcbcb;
 }

 code.language-css .token.id {
     color: #ffe9a3;
 }

 code.language-css .token.selector > .token.class,
 code.language-css .token.selector > .token.attribute,
 code.language-css .token.selector > .token.pseudo-class,
 code.language-css .token.selector > .token.pseudo-element {
     color: #ffe9a3;
 }
